## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: apparmor-profile-everything
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, dh-apparmor, ronn
Homepage: https://www.whonix.org/wiki/AppArmor
Vcs-Browser: https://github.com/Whonix/apparmor-profile-everything
Vcs-Git: https://github.com/Whonix/apparmor-profile-everything.git
Standards-Version: 4.3.0

Package: apparmor-profile-everything
Architecture: all
Depends: ${misc:Depends}, apparmor, apparmor-profile-torbrowser, libpam-apparmor
Description: AppArmor profile for whole system
 Confines all, systemd, init, all systemd units, apt, all applications.
 .
 Makes pointer leaks less likely.
 https://forums.whonix.org/t/apparmor-for-complete-system-including-init-pid1-systemd-everything-full-system-mac-policy/8339
 .
 Does not confine initramfs.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
